<!--Main Screen-->
<div class="row-center" style="margin-bottom: 50px;"> 
  <img src="./assets/images/logo/json2_transparent.png"/>
</div>

<div class="row-center align-items-center mt-1" style="text-align: center"> 
  <div class="col-6">
    <button class="main-option-button-json-counter black" (click)="goToJsonCounter()">JSON Data Counter</button>
  </div>
  <div class="col-6">
    <button class="main-option-button-json-counter black" (click)="goToJsonSplitter()">JSON Data Splitter</button>
  </div>
</div>

<div class="row-center align-items-center" style="text-align: center; margin-top: 20px;"> 
  <div class="col-6">
    <button class="main-option-button-json-excel green" (click)="goToJsonExcel()">JSON to XLSX Converter</button>
  </div>
  <div class="col-6">
    <button class="main-option-button-json-excel green" (click)="goToExcelJson()">XLSX to JSON Converter</button>
  </div>
</div>

<div class="row-center align-items-center" style="text-align: center; margin-top: 20px;"> 
  <div class="col-6">
    <button class="main-option-button-json-counter black" (click)="goToJsonFormatter()">JSON Formatter</button>
  </div>
  <!-- <div class="col-6">
    <button class="main-option-button-json-excel green" (click)="goToExcelJson()">XLSX to JSON Converter</button>
  </div> -->
</div>
<!--Main Screen-->
