<div class="contents">
  Paste your JSON below.
</div>

<div class="col-12">
    <textarea class="text-field" #jsonInput id="jsonInput"></textarea>
    <button class="btn-primary ripple" (click)="getContents()">Start Counting!</button>
    <button class="btn-grey ripple" style="margin-top: 5px;" (click)="startOver(); jsonInput.value=''">Start Over</button>
</div>

<br/>
  <b>RESULTS</b>
<div class="row">
  <div class="length-result">
    {{countResult}}
  </div>
  <div class="col-auto">
    Data has been found from your JSON.
  </div>
</div>   

