<h3>PIPE EXAMPLES</h3>
<p><b>Original: </b>{{ text }}</p>
<p><b>UpperCase: </b> {{ text | uppercase }}</p>
<p><b>LowerCase: </b> {{ text | lowercase }}</p>
<p><b>TitleCase: </b>{{ text | titlecase }}</p>
<p><b>Date: </b> {{ currentDate | date: 'YYYY-MM-dd' }}</p>
<p><b>Number: </b>{{ num | number: '1.2-2' }}</p>
<p><b>Price: </b>{{ price | currency: 'PHP': 'symbol': '1.2-2' }}</p>
<p><b>Percentage: </b>{{ percentage | percent: '2.2-2' }}</p>
<p><b>Full Name: </b>{{ (data$ | async)?.fullName }}</p>
<p><b>Birthdate: </b>{{ currentDate | birthday }}</p>

